.ui {
    z-index: 10;
    background: transparent;
    position: absolute;
    color: white;
    padding: 20px;
  }
  
.border{
     border: 1px solid white;
     padding: 2px;
}
.range{
   display: flex;
   justify-content: center;
}
.reset{
      display: flex;
      justify-content: center;
      align-items: center;
}
  

.scene-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1px;
  width: 100%;
  height: 100vh;
}
